*,
*::before,
*::after{
    border: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
button{
    cursor: pointer;
}
.home-page{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    background: #f5f5f5;
}

.go-back-btn{
    background: none;
    font-size: 20px;
    position: absolute;
    top: 72px;
    left: 130px;
    transition: 300ms ease-in-out;
    font-family: Urbanist;
    font-weight: 400;
    z-index: 1;
    &::after,
    &::before{
        content: '';
        height: 100%;
        width: 1px;
        display: inline-block;
        background-color: black;
        position: absolute;
        left: -20px;
        transform: rotate(45deg);
        top: -8px;
        transition: 300ms ease-in-out;
    }
    &::after{
        transform: rotate(-45deg);
        top: 8px
    }
    &:hover{
        &::before,
        &::after{
            left: -30px;
    }}
}

@import './header';
@import './homePageMiddleSection';
@import './login';
@import './register';
@import './dashboard';
@import './reset-password';
@import './modals/bulk-modal';
@import './modals/bomb_mail_modal';
@import './groups';
@import './sideMenu';
@import './group-info';
@import "./modals/group-name-modal";